{{ $mainSections := .Site.Params.mainSections }}
{{ $section := where .Site.RegularPages "Section" "==" "coder" }}
{{ $n_posts := $.Param "recent_posts_number" | default 6 }}
<div class="col-lg-12 col-md-12 col-12 float-md-left pl-md-2">

    {{ partial "code-navbar.html" .}}

    <div class="position-relative">
        <div class="border-bottom color-border-secondary py-3">
            <div class="d-block d-md-flex">
                <div class="mb-3 mb-md-0 mr-md-3 flex-auto">
                    <input type="search" id="aa-search-input" name="search" class="form-control width-full"
                           placeholder="Search for coders…" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="js-pinned-items-reorder-container">
                <h2 class="f4 mb-2 text-normal">
                    Random Featured Coders
                </h2>

                <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
                    {{ range (first $n_posts (shuffle $section)) }}
                    <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                        <div
                            class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                            <div class="pinned-item-list-item-content">
                                <div class="d-flex">
                                    <a href="{{ .Permalink }}">
                                        <img class="avatar avatar-user mr-2" alt="{{ .Params.login }}" src="{{ .Params.avatar }}" width="64" height="64">
                                    </a>
                                    <div class="width-full ml-1">
                                        <div class="f4 lh-condensed text-bold text-gray-dark">
                                            <a class="link-gray-dark no-underline text-bold wb-break-all d-inline-block" href="{{ .Permalink }}">{{ .Title }}</a>
                                        </div>
                                        <div class="dashboard-break-word text-gray mt-1 mb-0 repo-description">
                                            <p>{{ .Params.login }}</p>
                                        </div>
                                        <p class="f6 text-gray mt-0 mb-0">
                                            <span class="d-inline-block text-gray mr-3">
                                                <img class="octicon" src="/images/follows.svg" width="16" height="16" />
                                                {{ with .Params.followers }}
                                                <span class="text-bold text-gray-dark">
                                                    {{ lang.NumFmt 0 . }}
                                                </span>
                                                followers ·
                                                {{ end }}
                                                {{ with .Params.following }}
                                                <span class="text-bold text-gray-dark" itemprop="publications">
                                                    {{ lang.NumFmt 0 . }}
                                                </span>
                                                following
                                                {{ end }}
                                            </span>
                                            {{ with .Params.public_repos }}
                                            <span class="d-inline-block text-gray mr-3">
                                                <span class="tooltipped tooltipped-n tooltipped-no-delay" aria-label="Public Repos">
                                                    <img class="octicon" src="/images/repos.svg" width="16" height="16" />
                                                    <span class="text-bold text-gray-dark">
                                                        {{ lang.NumFmt 0 . }}
                                                    </span>
                                                </span>
                                            </span>
                                            {{ end }}
                                            {{ with .Params.stars }}
                                            <span class="d-inline-block text-gray mr-3">
                                                <span class="tooltipped tooltipped-n tooltipped-no-delay" aria-label="Stars">
                                                    <img class="octicon" src="/images/stars.svg" width="16" height="16" />
                                                    <span class="text-bold text-gray-dark">
                                                        {{ lang.NumFmt 0 . }}
                                                    </span>
                                                </span>
                                            </span>
                                            {{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="{{ "js/searchCoder.js" | absURL }}"></script>
<link crossorigin="anonymous" media="all" rel="stylesheet" href="{{ "css/search.css" | absURL }}" />
