<div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope
     itemtype="http://schema.org/Person">
    <div class="clearfix mb-2">
        <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            {{ if .Params.profile_image }}
                <img alt="" width="260" height="260" itemprop="image"
                     class="avatar width-full height-full rounded-2" src="{{ .Params.profile_image  }}" />
            {{ else }}
                <img alt="" width="260" height="260"
                     class="avatar width-full height-full rounded-2" src="{{ "images/avatar.png" | absURL }}" />
            {{ end }}
        </div>
        <div class="float-left col-9 col-md-12 pl-2 pl-md-0">

            <div class="vcard-names-container pt-1 pt-md-3 pb-1 pb-md-3 js-sticky js-user-profile-sticky-fields">
                <h1 class="vcard-names">
                    <span class="p-name vcard-fullname d-block overflow-hidden"
                          itemprop="name">{{ .Title }}</span>
                    <span class="p-nickname vcard-username d-block"
                          itemprop="affiliation"> {{ .Params.current_institute_name }}</span>
                </h1>
            </div>

            <div class="d-none d-md-block">
                <div class="js-profile-editable-area">
                    <div class="mb-3">
                        <span class="d-inline-block mr-2">
                            <img class="octicon" src="/images/publications.svg" width="16" height="16" />
                            <span class="text-bold text-gray-dark">{{ lang.NumFmt 0 .Params.publication_count }}</span>
                            publications
                        </span>
                        <span class="d-inline-block mr-3">
                            <img class="octicon" src="/images/citations.svg" width="16" height="16" />
                            <span class="text-bold text-gray-dark" itemprop="citations">{{ lang.NumFmt 0 .Params.estimated_citations }}</span>
                            citations
                        </span>
                    </div>
                    <div class="p-note user-profile-bio js-user-profile-bio mb-2">
                        <div>{{ .Params.bio }}</div>
                    </div>
                    <ul class="vcard-details mb-3">
                        {{ if gt (len .Params.websites) 0 }}
                        <li itemprop="url"
                            class="vcard-detail pt-1 css-truncate css-truncate-target">
                            <img class="octicon" src="/images/link.svg" width="16" height="16" />
                            {{ $firstWebsite := index .Params.websites 0 }}
                            <a rel="nofollow me" itemprop="url" href="{{ $firstWebsite }}">{{ $firstWebsite }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
