---
authors:
- affiliation: Yonsei University
  name: Jooyoung Kim
  url: https://academic.microsoft.com/author/2485131414/
- affiliation: Yonsei University
  name: Kangrok Oh
  url: https://academic.microsoft.com/author/2114092510/
- affiliation: Nanyang Technological University
  name: Beom Seok Oh
  slug: beomseok_oh
- affiliation: Nanyang Technological University
  name: Zhiping Lin
  slug: zhiping_lin
- affiliation: Yonsei University
  name: Kar Ann Toh
  slug: karann_toh
date: '2019-02-15'
estimated_citations: 4
fields:
- feature extraction
- matrix multiplication
- extreme learning machine
- kernel
- matrix
- biometrics
- pattern recognition
- subtraction
- sigmoid function
- computer science
- artificial intelligence
in: Cognitive Computation
src: https://dblp.uni-trier.de/db/journals/cogcom/cogcom11.html#KimOOLT19
title: A Line Feature Extraction Method for Finger-Knuckle-Print Verification
year: 2019
---
