---
authors:
- affiliation: University Of Manchester
  name: Hai Wang
  url: https://academic.microsoft.com/author/2236968739/
- affiliation: University Of Manchester
  name: Yuan Fang Li
  slug: yuanfang_li
- affiliation: National University Of Singapore
  name: Jing Sun
  slug: jing_sun
- affiliation: University Of Auckland
  name: Hongyu Zhang
  url: https://academic.microsoft.com/author/2619848081/
- affiliation: Rmit University
  name: Jeff Pan
  url: https://academic.microsoft.com/author/2161654796/
date: '2005-01-01'
estimated_citations: 127
fields:
- feature model
- semantic web stack
- social semantic web
- semantic web
- ontology
- domain engineering
- computer aided software engineering
- natural language processing
- decidability
- computer science
- data mining
- artificial intelligence
in: "Workshop on Semantic Web Enabled Software Engineering (SWESE\u201905"
src: https://www.researchgate.net/profile/Yuan-Fang_Li2/publication/43498050_A_semantic_web_approach_to_feature_modeling_and_verification/links/02bfe50edef0b25e14000000.pdf
title: A semantic web approach to feature modeling and verification
year: 2005
---
