---
authors:
- affiliation: Agency For Science Technology And Research
  name: Bin Ma
  slug: bin_ma
- affiliation: null
  name: Haizhou Li
  slug: haizhou_li
- affiliation: null
  name: Minghui Dong
  slug: minghui_dong
date: '2006-09-15'
estimated_citations: 190
fields:
- speech processing
- prosody
- utterance
- speech recognition
- natural language processing
- computer science
- artificial intelligence
in: null
src: https://lens.org/039-236-893-103-070
title: Apparatus and method for speech utterance verification
year: 2006
---
