---
authors:
- affiliation: null
  name: Tomi Kinnunen
  slug: tomi_kinnunen
- affiliation: Agency For Science Technology And Research
  name: Kong-Aik Lee
  slug: kong_aik_lee
- affiliation: Agency For Science Technology And Research
  name: Haizhou Li
  slug: haizhou_li
date: '2008-01-01'
estimated_citations: 56
fields:
- spectrogram
- speaker recognition
- nist
- dimensionality reduction
- speech recognition
- classifier
- pattern recognition
- modulation
- computer science
- artificial intelligence
- speaker verification
- spectral analysis
in: Odyssey
src: http://cs.joensuu.fi/pages/tkinnu/webpage/pdf/odyssey2008modspec.pdf
title: Dimension reduction of the modulation spectrogram for speaker verification.
year: 2008
---
