---
authors:
- affiliation: Tsinghua University
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Nanyang Technological University
  name: Junlin Hu
  slug: junlin_hu
- affiliation: Nanyang Technological University
  name: Yap-Peng Tan
  slug: yappeng_tan
date: '2017-06-20'
estimated_citations: 163
fields:
- discriminative model
- mahalanobis distance
- artificial neural network
- feature vector
- feature extraction
- pattern recognition
- machine learning
- kinship
- correlation
- nonlinear system
- mathematics
- artificial intelligence
in: IEEE Transactions on Image Processing
src: http://europepmc.org/abstract/MED/28644806
title: Discriminative Deep Metric Learning for Face and Kinship Verification
year: 2017
---
