---
authors:
- affiliation: National University Of Singapore
  name: Haibin Yan
  slug: haibin_yan
- affiliation: Agency For Science Technology And Research
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Beijing University Of Posts And Telecommunications
  name: Weihong Deng
  slug: weihong_deng
- affiliation: Capital Normal University
  name: Xiuzhuang Zhou
  slug: xiuzhuang_zhou
date: '2014-07-01'
estimated_citations: 165
fields:
- discriminative model
- feature extraction
- kinship
- pattern recognition
- machine learning
- data set
- computer science
- correlation
- artificial intelligence
- learning methods
in: IEEE Transactions on Information Forensics and Security
src: https://www.kinfacew.com/papers/DMML_TIFS14.pdf
title: Discriminative Multimetric Learning for Kinship Verification
year: 2014
---
