---
authors:
- affiliation: Yonsei University
  name: Sungchul Cho
  url: https://academic.microsoft.com/author/2899476391/
- affiliation: null
  name: Beom Seok Oh
  url: https://academic.microsoft.com/author/3058546084/
- affiliation: Yonsei University
  name: Kar Ann Toh
  slug: karann_toh
- affiliation: Nanyang Technological University
  name: Zhiping Lin
  slug: zhiping_lin
date: '2020-01-01'
estimated_citations: 1
fields:
- rgb color model
- local binary patterns
- spectral bands
- discriminative model
- pattern recognition
- near infrared spectroscopy
- encoding
- computer science
- artificial intelligence
- cross matching
- palm vein
in: IEEE Access
src: https://dblp.uni-trier.de/db/journals/access/access8.html#ChoOTL20
title: Extraction and Cross-Matching of Palm-Vein and Palmprint from the RGB and the
  NIR Spectrums for Identity Verification
year: 2020
---
