---
authors:
- affiliation: Nanyang Technological University
  name: K.W. Yue
  url: https://academic.microsoft.com/author/2374400671/
- affiliation: null
  name: W.S. Wijesoma
  url: https://academic.microsoft.com/author/2987582142/
date: '2000-10-08'
estimated_citations: 18
fields:
- scale space segmentation
- segmentation based object categorization
- image segmentation
- segmentation
- signature recognition
- handwriting recognition
- pattern recognition
- computer vision
- computer science
- artificial intelligence
- image matching
in: Smc 2000 conference proceedings. 2000 ieee international conference on systems,
  man and cybernetics. 'cybernetics evolving to systems, humans, organizations, and
  their complex interactions' (cat. no.0
src: https://dblp.uni-trier.de/db/conf/smc/smc2000.html#YueW00
title: Improved segmentation and segment association for on-line signature verification
year: 2000
---
