---
authors:
- affiliation: Nanyang Technological University
  name: Junlin Hu
  slug: junlin_hu
- affiliation: Tsinghua University
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Nanyang Technological University
  name: Yap-Peng Tan
  slug: yappeng_tan
- affiliation: Nanyang Technological University
  name: Junsong Yuan
  slug: junsong_yuan
- affiliation: Tsinghua University
  name: Jie Zhou
  url: https://academic.microsoft.com/author/2304890293/
date: '2018-08-01'
estimated_citations: 19
fields:
- mahalanobis distance
- feature extraction
- discriminative model
- machine learning
- data set
- linear programming
- computer science
- exploit
- kinship
- correlation
- artificial intelligence
in: IEEE Transactions on Circuits and Systems for Video Technology
src: https://dblp.uni-trier.de/db/journals/tcsv/tcsv28.html#HuLTYZ18
title: Local Large-Margin Multi-Metric Learning for Face and Kinship Verification
year: 2018
---
