---
authors:
- affiliation: Nanyang Technological University
  name: Junlin Hu
  slug: junlin_hu
- affiliation: Chongqing University
  name: Yongxin Ge
  url: https://academic.microsoft.com/author/2159840174/
- affiliation: null
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Chongqing University Of Technology
  name: Xin Feng
  url: https://academic.microsoft.com/author/2416996296/
date: '2013-05-26'
estimated_citations: 19
fields:
- facial recognition system
- support vector machine
- subspace topology
- classifier
- pattern recognition
- canonical correlation
- machine learning
- computer science
- artificial intelligence
- discriminative learning
- face verification
in: 2013 IEEE International Conference on Acoustics, Speech and Signal Processing
src: http://or.nsfc.gov.cn/handle/00001903-5/422729
title: Makeup-robust face verification
year: 2013
---
