---
authors:
- affiliation: Agency For Science Technology And Research
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Beijing Normal University
  name: Junlin Hu
  slug: junlin_hu
- affiliation: Capital Normal University
  name: Xiuzhuang Zhou
  slug: xiuzhuang_zhou
- affiliation: Capital Normal University
  name: Yuanyuan Shang
  slug: yuanyuan_shang
- affiliation: Nanyang Technological University
  name: Yap-Peng Tan
  slug: yappeng_tan
- affiliation: Agency For Science Technology And Research
  name: Gang Wang
  slug: gang_wang
date: '2012-06-16'
estimated_citations: 378
fields:
- metric
- kinship
- facial recognition system
- discriminative model
- feature extraction
- formal verification
- biometrics
- pattern recognition
- machine learning
- computer science
- lying
- artificial intelligence
in: 2012 IEEE Conference on Computer Vision and Pattern Recognition
src: http://dx.doi.org/10.1109/TPAMI.2013.134
title: Neighborhood repulsed metric learning for kinship verification
year: 2012
---
