---
authors:
- affiliation: null
  name: Xiaoqian Qin
  url: https://academic.microsoft.com/author/2748529168/
- affiliation: null
  name: Dakun Liu
  url: https://academic.microsoft.com/author/2746439575/
- affiliation: null
  name: Bin Gui
  url: https://academic.microsoft.com/author/3044535838/
- affiliation: Agency For Science Technology And Research
  name: Dong Wang
  slug: dong_wang
date: '2020-10-01'
estimated_citations: null
fields:
- similarity measure
- statistical inference
- mahalanobis distance
- mixture distribution
- pairwise comparison
- estimator
- pattern recognition
- kinship
- computer science
- nonlinear system
- artificial intelligence
in: Applied Soft Computing
src: https://dblp.uni-trier.de/db/journals/asc/asc95.html#QinLGW20
title: New metric learning model using statistical inference for kinship verification
year: 2020
---
