---
authors:
- affiliation: Nagaoka University Of Technology
  name: Ye Jiang
  url: https://academic.microsoft.com/author/2780104179/
- affiliation: Agency For Science Technology And Research
  name: Kong Aik Lee
  url: https://academic.microsoft.com/author/2780053562/
- affiliation: Nagaoka University Of Technology
  name: Longbiao Wang
  url: https://academic.microsoft.com/author/2143172114/
date: '2014-12-01'
estimated_citations: 14
fields:
- dimensionality reduction
- normalization
- posterior probability
- subspace topology
- computational complexity theory
- pattern recognition
- speech recognition
- curse of dimensionality
- uncompressed video
- channel
- computer science
- artificial intelligence
in: Eurasip Journal on Audio, Speech, and Music Processing
src: https://asmp-eurasipjournals.springeropen.com/track/pdf/10.1186/s13636-014-0029-2
title: PLDA in the i-supervector space for text-independent speaker verification
year: 2014
---
