---
authors:
- affiliation: Institute For Infocomm Research Singapore
  name: Bappaditya Mandal
  slug: bappaditya_mandal
- affiliation: Nanyang Technological University
  name: Xudong Jiang
  slug: xudong_jiang
- affiliation: Institute For Infocomm Research Singapore
  name: How-Lung Eng
  slug: howlung_eng
- affiliation: Nanyang Technological University
  name: Alex Kot
  slug: alex_c_kot
date: '2010-06-01'
estimated_citations: 14
fields:
- linear discriminant analysis
- regularization
- dimensionality reduction
- subspace topology
- discriminative model
- facial recognition system
- feature extraction
- discriminant
- artificial intelligence
- mathematics
in: international conference on pattern recognition
src: http://dx.doi.org/10.1016/j.patrec.2009.10.006
title: Prediction of eigenvalues and regularization of eigenfeatures for human face
  verification
year: 2010
---
