---
authors:
- affiliation: National University Of Singapore
  name: Haibin Yan
  slug: haibin_yan
- affiliation: Agency For Science Technology And Research
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Capital Normal University
  name: Xiuzhuang Zhou
  slug: xiuzhuang_zhou
date: '2015-11-01'
estimated_citations: 138
fields:
- feature vector
- feature learning
- feature extraction
- support vector machine
- discriminative model
- local binary patterns
- kinship
- pattern recognition
- machine learning
- hyperplane
- computer science
- artificial intelligence
in: IEEE Transactions on Systems, Man, and Cybernetics
src: https://dblp.uni-trier.de/db/journals/tcyb/tcyb45.html#YanLZ15
title: Prototype-Based Discriminative Feature Learning for Kinship Verification
year: 2015
---
