---
authors:
- affiliation: Agency For Science Technology And Research
  name: Jiwen Lu
  slug: jiwen_lu
- affiliation: Agency For Science Technology And Research
  name: Gang Wang
  slug: gang_wang
- affiliation: Beijing University Of Posts And Telecommunications
  name: Weihong Deng
  url: https://academic.microsoft.com/author/2099485827/
- affiliation: University Of Macau
  name: Kui Jia
  slug: kui_jia
date: '2015-01-01'
estimated_citations: 63
fields:
- metric
- three dimensional face recognition
- discriminative model
- iterative reconstruction
- facial recognition system
- feature extraction
- residual
- pattern recognition
- machine learning
- data set
- computer science
- artificial intelligence
in: IEEE Transactions on Information Forensics and Security
src: https://dblp.uni-trier.de/db/journals/tifs/tifs10.html#LuWDJ15
title: Reconstruction-Based Metric Learning for Unconstrained Face Verification
year: 2015
---
