---
authors:
- affiliation: National University Of Singapore
  name: Ben Blumson
  url: https://academic.microsoft.com/author/857215398/
date: '2020-10-30'
estimated_citations: null
fields:
- natural language processing
- computer science
- artificial intelligence
in: The Philosophical Quarterly
src: http://academic.oup.com/pq/advance-article-pdf/doi/10.1093/pq/pqaa071/34068283/pqaa071.pdf
title: Relevance and Verification
year: 2020
---
