---
authors:
- affiliation: Beihang University
  name: Haosong Yue
  url: https://academic.microsoft.com/author/2169305605/
- affiliation: Beihang University
  name: Jinyu Miao
  url: https://academic.microsoft.com/author/3003268206/
- affiliation: Beihang University
  name: Yue Yu
  url: https://academic.microsoft.com/author/2811022864/
- affiliation: Beihang University
  name: Weihai Chen
  url: https://academic.microsoft.com/author/2256759214/
- affiliation: Nanyang Technological University
  name: Changyun Wen
  url: https://academic.microsoft.com/author/3003225602/
date: '2019-11-01'
estimated_citations: 1
fields:
- topological graph
- artificial neural network
- pattern recognition
- robot
- computer science
- vocabulary
- closure
- artificial intelligence
- graph
- image matching
- loop closure
in: 2019 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)
src: https://dblp.uni-trier.de/db/conf/iros/iros2019.html#YueMYCW19
title: Robust Loop Closure Detection based on Bag of SuperPoints and Graph Verification
year: 2019
---
