---
authors:
- affiliation: Agency For Science Technology And Research
  name: Kong Aik Lee
  slug: kong_aik_lee
- affiliation: Agency For Science Technology And Research
  name: Chang Huai You
  slug: chang_huai_you
- affiliation: Agency For Science Technology And Research
  name: Haizhou Li
  slug: haizhou_li
- affiliation: University Of Eastern Finland
  name: T Kinnunen
  slug: tomi_kinnunen
- affiliation: National University Of Singapore
  name: Khe Chai Sim
  slug: khe_chai_sim
date: '2011-05-01'
estimated_citations: 11
fields:
- bhattacharyya distance
- kernel method
- similarity measure
- fisher kernel
- kernel
- speaker recognition
- normalization
- support vector machine
- pattern recognition
- mathematics
- artificial intelligence
in: IEEE Transactions on Audio, Speech, and Language Processing
src: http://cs.uef.fi/sipu/pub/Bhattacharyya_TASL.pdf
title: Using Discrete Probabilities With Bhattacharyya Measure for SVM-Based Speaker
  Verification
year: 2011
---
